/* .gridContainer {
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;    
    height: 100vh;
    width: 100vw;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "header header chat"
    "game game chat"
    "footer footer chat";
} */

.gridContainer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
}

.chatToggle {
display: inline-block;
position: relative;
top:87vh;
right: 2vw;
height: 10%

}

.hideChat {
    display:none;
}